.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid purple;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

  /* color: hsl(240, 78%, 98%);
color: hsl(234, 14%, 74%);
color: hsl(233, 13%, 49%);
color: hsl(232, 13%, 33%) */
}
