.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(114, 114, 114, 0.77);
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  background: white;
  z-index: 2;
  /* border: 4px solid black; */
  width: 25%;
  position: relative;
}
.modal-form .close-modal {
  /* border: 6px solid peru; */
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.modal-form form {
  /* border: 4px solid purple; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form form label {
  /* border: 2px solid black; */
  font-size: 0.7rem;
  /* margin-bottom: 10px; */
}

.modal-form input {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  /* width: 300px; */
  margin-bottom: 10px;
  padding: 10px;
}
.modal-form form .card-info {
  /* border: 4px solid purple; */
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}
.modal-form form .card-info .card-input {
  display: flex;
  flex-direction: row;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-top: 10px;
}

.modal-form form .card-info .card-input input {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 0;
}
.modal-form form .card-info .card-input input#cardnumber {
  width: 70%;
}
.modal-form form .card-info .card-input input#exp {
  border-left: 1px solid #ebebeb;
  border-radius: 0%;
  width: 15%;
}
.modal-form form .card-info .card-input input#cvc {
  width: 15%;
  border-left: 1px solid #ebebeb;
  border-radius: 0%;
}

.header button {
  margin-top: 10px;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgb(55, 178, 255);
  color: #fff;
  outline: none;
  cursor: pointer;
}
.header button:hover {
  background: rgb(47, 157, 225);
}

.bronze {
  text-align: center;
  color: rgb(207, 102, 0);
}
.silver {
  text-align: center;
  color: rgb(168, 167, 167);
}
.gold {
  text-align: center;
  color: rgb(209, 154, 0);
}
